<ion-header [translucent]="true">
      <ion-toolbar>
            <ion-buttons slot="start">
                  <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Bart API</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="folderDisplay">

      <ion-grid>
            <ion-row>
                  <ion-col *ngIf="folder === 'BARTHome'; else stationChosen">
                        <p class="ion-text-center">Please select a station</p>
                  </ion-col>
                  <ng-template #stationChosen>
                        <ion-col>
                              <ion-card *ngFor="let d of this.SDService.station?.destinations; let i = index" class="cardStyle">
                                    <ion-card-header>
                                          <ion-card-subtitle>Departing for:</ion-card-subtitle>
                                          <ion-card-title>{{this.SDService.station?.destinations[i].destName}}
                                          </ion-card-title>
                                          <ion-card-content
                                                *ngIf="this.SDService.station?.destinations[i].etd[0] !== 'Leaving'; else leavingNow">
                                                In {{this.SDService.station?.destinations[i].etd[0]}} minutes
                                          </ion-card-content>
                                          <ng-template #leavingNow>
                                                <ion-card-content>Presently</ion-card-content>
                                          </ng-template>
                                    </ion-card-header>
                              </ion-card>
                              <ion-item-divider></ion-item-divider>
                        </ion-col>
                  </ng-template>
            </ion-row>
      </ion-grid>

</ion-content>